@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: #000;
}

h2 {
	font-size: 17px;
}

a {
	text-decoration: none;
}

i {
	color: #0065fc;
}

span {
	font-weight: bold;
}

#main-container {
	margin: 35px 45px;
}

.gray-icon-color {
	color: #dddbdb;
}

/***************** Header of the page ******************/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

header ul {
	list-style-type: none;
}

header nav ul li {
	display: inline;
}

header ul li a {
	padding: 45px 30px;
}

header ul li .a-border-hover:hover {
	color: #0065fc;
	border-top: 3px solid #0065fc;
}

header ul .a-sing-up {
	color: #0065fc;
	font-weight: bold;
}

/***************** Media query max-width 768 ****************/


@media screen and (max-width: 768px) {

	#main-container {
		margin: 35px 0 25px 0 !important;
		/* background-color: lightgreen; */
	}
	
	/********* Media query Header  ********/

	header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		margin-top: 35px;
		width: inherit;
	}

	header img {
		margin-left: 30px;
	}

	header nav {
		width: 100%;
	}
	header nav ul {
		width: 100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
	}

	header ul .li-static-item {
		width: inherit;
		display: flex;
		justify-content: space-between;
	}

	header ul .a-border-hover {
		padding: inherit;
		border-bottom: 3px solid #f2f2f2;
		padding: 0 46% 40px 36.5%;
		overflow: hidden;
	}	

	header ul li .a-border-hover:hover {
		border-top: none;
		padding-bottom: 20px;
		border-bottom: 3px solid #0065fc;
	}

	header ul .li-absolute-item {
		position: absolute;
		top: 16px;
		right: 1px;
	}

	/********************* Media query Section one ************************/

	#section-one {
		margin: 18px;
	}

	#section-one h1 {
		font-size: 22px !important;
	}

	#section-one form {
	margin: 15px 0 17px 0;

	}

	form {
		margin: 30px 0 30px 0 !important;
	}
	
	form .map-icon {
		height: 60px;
	}

	form input[type="search"] {
		width: 86% !important;
		padding: 20px !important;
		height: 60px;
	}
	
	form .hedden-submit-button {
		display:none;
		position: relative;
	}

	form .btn-search-icon {
		visibility: visible !important;
		height: 60px;
		width: 60px;
		background-color: #0065fc;
		border-radius: 15px;
		border: none;
		position: absolute;
		right: 18px;
	}
	form .btn-search-icon i  {
		color: #fff;
	}

	.filtre-container {
		margin-left: 0px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	} 

	/********** Media query section two  */

	.section-two-and-three {
	padding: 40px 18px 20px 18px !important;
	border-radius: 0px !important;
	}

	 #section-two {
		background-color: #fff;
		padding-top: 15px !important;
	}
	
	#section-two .wrapper .card {
		width: 100% !important;
	}

	#section-two .wrapper .card img {
		width: 100% !important;
		 height: 9vw ;
	}
}

/************* Section one ****************/

#section-one h1 {
	margin-bottom: 10px;
	font-size: 20px;
}

#section-one form {
	margin: 15px 0 17px 0;
	display: flex;
}

form .map-icon,
form input {
	font-size: 17px;
	font-weight: 700;
	padding: 20px;
}

form .map-icon {
	background-color: #f2f2f2;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	color: #000;
}

form input[type='search'] {
	border: 1px solid #f2f2f2;
	border-right: none;
	outline: none;
	outline-color: #0065fc;
	width: 250px;
}

form input[type='submit'] {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #0065fc;
	color: #fff;
	border: none;
}

form .btn-search-icon {
	visibility: hidden;
}

.filtre-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1px ;
	position: relative;
}

.filtre-container h2 {
	font-weight: bold;
	float: left;
	margin-right: 20px;
}

.filtre-container .filtre-group {
	/* height: 57px; */
	width: auto;
	display: inline-block;
	margin: 12px 10px 12px 0;
	border: 2px solid #f2f2f2;
	padding: 10px 0px 10px 50px;
	border-radius: 30px;
	position: relative;
}

.filtre-group .icon-back {
	background-color: #deebff;
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	top: -2px;
	left: -2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filtre-group .icon-back i {
	color: #0065fc;
}

#section-one .exlama-mess-contain {
	margin: 15px 0px 40px 0px;
}

#section-one .exclamation-mark {
	width: 23px;
	height: 23px;
	border: 1.5px solid #f2f2f2;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	position: absolute;
}
.exclamation-mark i {
	color: #0065fc;
	font-size: 13px;
	transform: rotate(180deg);
}

.exlama-mess-contain p {
	padding: 2px 0 0 35px;
	font-size: 15px;
}

/***************** Media queries max-width 1024 ****************/

@media screen and (max-width: 1024) {

	/**************** Media query  section one */

	.filtre-container {
		margin-left: 0px;
		display: block;
	}

}

/***************** shared values *************/

#section-two-and-three-flex-container {
	display: flex;
	justify-content: space-between;
	/* margin: 10px 0; */
}

.section-two-and-three {
	background-color: #f2f2f2;
	padding: 50px 40px 40px 40px;
	border-radius: 15px;
}

.commun-styles h3 {
	font-size: 14px;
}

#section-two img,
#section-four img {
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	object-fit: cover;
}

.card {
	border-radius: 17px;
	box-shadow: 0px 0px 20px -3px #ccc;
	background-color: #fff;
	/* border-bottom-right-radius: ; */
}

/************* Section two ******************/

#section-two {
	width: 63.6%;
}

#section-two .wrapper {
	width: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 25px 0px;
}

#section-two .wrapper .card {
	margin-bottom: 30px;
	width: 16.5vw;
	height: auto;
	overflow: hidden;
}

#section-two .wrapper .card img {
	width: 16.5vw;
	height: 8vw;
	border: 5px solid #fff;
}

#section-two .p-bold {
	font-weight: bold;
}

.wrapper .card-detail {
	margin: 10px;
}

.wrapper .card-detail p {
	font-size: 14px;
	margin: 7px 0;
}

.wrapper .card-detail i {
	font-size: 14px;
}

/* Media query max-width 1160 */

@media screen and (max-width: 1160px){

	#section-two-and-three-flex-container {
	display: flex;
	flex-direction: column;
	}

	#section-two,
	#section-three {
		width: 100% !important;
	}

	/* Media query section two */


	#section-two {
		order: 2;
		margin-top: 20px;
	}

	#section-two .wrapper .card {
		width: 23.9vw;
		height: auto;
		
	}

	#section-two .wrapper img {
		width: 23.9vw !important;
		height: 130px !important;
	}

	/********** Media query section three ********$*/

	#section-three {
		order: 1;
	}

	#section-three .wrapper .card {
		margin-bottom: 15px;
	}

	#section-three .card .card-detail {
		margin-left: 15px;
	}

}

/*************** Section three *****************/

#section-three {
	width: 34.3%;
}

#section-three .populaire {
	display: flex;
	justify-content: space-between;
}

#section-three .populaire i {
	font-size: 23px;
	color: #000;
}

#section-three aside {
	height: 100%;
	/* background-color: khaki; */
}

#section-three .wrapper {
	margin-top: 25px;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
}

#section-three .wrapper .card {
	width: auto;
	height: 148px;
	border: 5px solid #fff;
	overflow: hidden;
}

#section-three .card img {
	width: 35%;
	height: 148px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	float: left;
	margin-right: 20px;
}


#section-three .card-detail {
	width:auto;
	height: 120px;
	/* background-color: lightgreen; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-bottom: 5px;
}

#section-three .card-detail p {
	margin-bottom: 45px;	
}

/**************** Section four ***************/

#section-four {
	height: 500px;
	margin: 50px 0 2px 0;
}

#section-four .wrapper {
	height: auto;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#section-four .medium-small-img-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#section-four .big-img-container,
.section-four .medium-small-img-container {
	padding-bottom: 20px;
}

#section-four img,
#section-four img {
	width: 22vw;
}

#section-four .big-img-container img {
	height: 370px;
}

#section-four .medium-small-img-container .medium-img {
	height: 160px;
}

#section-four .medium-small-img-container .small-img {
	height: 120px;
	object-fit: cover;
}

#section-four .card h3 {
	padding-top: 18px;
	padding-left: 18px;
	font-size: 14px;
}


